<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143702058108-rmujueqjoq7v5o5ecq29d8n24eunv73b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143702058108-rmujueqjoq7v5o5ecq29d8n24eunv73b</string>
	<key>API_KEY</key>
	<string>AIzaSyAeWCIWO0056ib0EC0DHyyGE98KYGkISr0</string>
	<key>GCM_SENDER_ID</key>
	<string>143702058108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apperza.ruangoffice</string>
	<key>PROJECT_ID</key>
	<string>ruangoffice</string>
	<key>STORAGE_BUCKET</key>
	<string>ruangoffice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143702058108:ios:333a416abf6748221fd5f9</string>
</dict>
</plist>